/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/

body{
    font-family: 'Rubik Mono One', sans-serif;
    background-color: black;
}

.wrapper{
    flex-wrap: wrap;
}

.border{
    border: 2px dashed white;
}

.flex{
    display: flex;
}
/*UTILS*/

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.semi-full-page{
    height: 99vh;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}


h1{
    font-size: 50px;
    text-align: center;
}

.c-yellow{
    color: yellow;
}

.c-green{
    color: green;
}

/*MAIN*/
.col{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card{
    width: 50%;
}

.card-image{
    width: 100%;
    height: auto;
}

.blue-shoes{
width: 100%;
height: auto;
display: block;
}
